@import url('https://fonts.googleapis.com/css?family=Cuprum')

/* Variables */
$accent-colour: #0c3364
$accent-dark-colour: #04162d
$background-light-colour: #efefef
$dark-text-colour: #cef
$light-text-colour: #fff

$colours: (black: #bbbbbb, blue: #94dbee, brown: #cc9966, gray: #d1d1e0, green: #64d364, pink: #f4bdc9, purple: #c183c1, red: #ec8484, white: #ffffff, yellow: #fafa55)

/* General overrides for browser default behaviour */

html,
body
    margin: 0

body
    background-color: $accent-dark-colour
    font-family: "Cuprum", sans-serif
    font-size: 16px
    position: relative

    height: 100vh
    height: calc(var(--vh, 1vh) * 100)

a
    &,
    &:active,
    &:hover,
    &:visited
        color: $light-text-colour
        text-decoration: underline 

    &:focus
        outline: 1px dashed #777

    &:hover
        opacity: .75

ul
    margin: 0
    list-style: none
    padding: 0


/* Site structure */
#content
    display: flex
    flex-direction: column
    max-width: 1000px
    margin: 0 auto

    height: 100vh
    height: calc(var(--vh, 1vh) * 100)

header
    background-color: $accent-colour
    color: $light-text-colour
    display: flex
    height: 4em
    flex-shrink: 0

    position: sticky
    top: 0
    z-index: 1000

    box-sizing: border-box
    align-items: center
    justify-content: space-between
    padding: 0 1em

main
    background-color: $background-light-colour
    color: $accent-dark-colour
    flex: 1 1
    overflow-x: none
    overflow-y: scroll
    -webkit-overflow-scrolling: touch

footer
    background-color: $background-light-colour
    padding: .25em 1em

    .footer-body
        display: none

    &.open
        .footer-topbar-arrow
            &::after
                content: "▼"

        .footer-body
            display: flex

/* Components */

.banner
    padding: 1em

    a
        color: $accent-dark-colour

    &-body
        padding-top: .5em

    &-title
        font-size: 1.5em
        font-weight: bold

.filter-box
    display: flex
    flex-grow: 1
    justify-content: center

    label
        display: block

    &-title
        font-weight: bold
        padding-bottom: .5em

.footer
    &-body
        max-height: 50vh
        overflow-y: auto
        padding: .5em 0

    &-topbar
        align-items: center
        cursor: pointer
        display: flex
        justify-content: space-between
        width: 100%

        &-arrow
            height: 1em
            width: 1em
            position: relative

            &::after
                content: "▲"

                left: 0
                right: 0
                bottom: 0
                top: 0

.header
    &-logo
        display: flex
        align-items: center
        font-size: 2em

        img
            display: inline
            height: 1em

    &-options
        align-items: center
        display: flex
        flex-direction: horizontal

.hidden
    display: none

#language-switcher
    height: 1.5em
    width: 7.5em

.links
    img
        height: 2em

.pokemon

    &-item
        box-sizing: border-box
        color: #fff
        text-shadow: 1px 1px 0 $accent-dark-colour
        position: relative

        @each $key, $value in $colours
            &-#{$key}
                background-color: darken($value, 25%)
                border: 2px solid $accent-colour

                &:hover
                    background-color: $value

        &-unclaimed
            background-color: #333 !important

    &-list
        background-color: $accent-colour
        display: flex
        flex-wrap: wrap
        width: 100%

    &-name
        font-size: .9em
        font-weight: bold
        position: absolute
        right: 1em
        top: 1em

    &-number
        font-size: .9em
        font-weight: bold
        position: absolute
        left: 1em
        top: 1em

    &-owner
        position: absolute
        bottom: 1em
        left: 0
        right: 0
        text-align: center

        a
            color: #fff
            font-size: .75em
            word-wrap: anywhere

    &-sprite
        display: flex
        position: absolute

        left: 0
        right: 0
        top: 0
        bottom: 0

        align-items: center
        justify-content: center

        img
            -ms-interpolation-mode: nearest-neighbor
            image-rendering: -moz-crisp-edges
            image-rendering: -webkit-crisp-edges
            image-rendering: pixelated
            image-rendering: crisp-edges
            width: 50%

/* Size-specific rules */
@media (max-width: 480px)

    .header
        &-logo
            font-size: 1.5em

    .pokemon
        &-sprite
            bottom: 3em

            img
                width: 20%

        &-item
            font-size: calc(100vw / 640 * 32)
            height: 30vw
            width: 100%

@media (min-width: 480px) and (max-width: 640px)

    .pokemon
        &-sprite
            bottom: 3em

            img
                width: 20%

        &-item
            font-size: calc(100vw / 640 * 16)
            height: 20vw
            width: 100%

@media (min-width: 640px) and (max-width: 870px)

    .pokemon-item
        font-size: calc(100vw / 870 * 16)
        height: 33vw
        width: 33.3%

/* Desktop-specific rules */
@media (min-width: 870px) and (max-width: 1000px)

    .pokemon-item
        font-size: calc(100vw / 1000 * 16)
        height: 24.5vw
        width: 25%

@media (min-width: 1000px)
    header
        height: 5em

    .pokemon-item
        height: 200px
        width: 20%