</main>
<footer>
    <div class="footer-topbar" onclick="toggleFooterOpen()">
        <div class="footer-topbar-arrow"></div>
        <div>{{ T "FILTERS" . }}</span></div>
        <div class="footer-topbar-arrow"></div>
    </div>
    <div class="footer-body">
        <div class="filter-box">
            <div class="filter-box-internal">
                <div class="filter-box-title">{{ T "CLAIM_FILTERS" . }}</div>
                <label>
                    <input type="radio" name="claimRadios" onclick="setClaimFilter(this)" value="0" checked />
                    All
                </label>
                <label>
                    <input type="radio" name="claimRadios" onclick="setClaimFilter(this)" value="1" />
                    Claimed
                </label>
                <label>
                    <input type="radio" name="claimRadios" onclick="setClaimFilter(this)" value="2" />
                    Unclaimed
                </label>
            </div>
        </div>
        <div class="filter-box">
            <div class="filter-box-internal">
                <div class="filter-box-title">{{ T "TEXT_FILTER" . }}</div>
                <input type="text" name="textFilter" value="" onchange="setTextFilter(this)" oninput="setTextFilter(this)" />
            </div>
        </div>
    </div>
</footer>
</div>
</html>