<!--
    Facilitates the user switching between languages
-->
<select id="language-switcher">
    {{ range $.Site.Languages }}
    <option {{ if (eq .Lang $.Site.Language.Lang) }}selected{{ end }} value="{{ .Lang }}">
        {{ .LanguageName }}
    </option>
    {{ end }}
</select>