{{ partial "_header" . }}

<div class="banner">
    <div class="banner-title">{{ T "WELCOME" . }}</div>
    <div class="banner-body">{{ htmlUnescape (T "WELCOME_BODY" .) | safeHTML }}</div>
</div>

<div class="pokemon-list">
    {{ $pages := where $.Site.AllPages "Section" "pokemon" }}
    {{ range sort $pages "Weight" "asc"}}
    {{ if (.Params.Number) }}
    {{ $claimed := (ne .Params.Username "") }}
    <div class="pokemon-item pokemon-item-{{ lower .Params.Colour }} {{ if (ne $claimed true) }}pokemon-item-unclaimed{{ end }}">
        {{ if (.Params.Mega) }}
            <div class="pokemon-sprite">
                <img src="{{ $.Site.BaseURL }}pokemon/{{ .Params.Number }}-{{ .Params.Mega }}.png" />
            </div>
            <div class="pokemon-number">#{{ .Params.Number }}-{{ .Params.Mega}}</div>
            <div class="pokemon-name">Mega {{ T .Params.TranslationID $ }}{{ if ne .Params.Mega "M" }} {{ .Params.Mega }}{{ end }}</div>
        {{ else }}
            <div class="pokemon-sprite">
                <img src="{{ $.Site.BaseURL }}pokemon/{{ .Params.Number }}.png" />
            </div>
            <div class="pokemon-number">#{{ .Params.Number }}</div>
            <div class="pokemon-name">{{ T .Params.TranslationID $ }}</div>
        {{ end }}
        <div class="pokemon-owner">
            {{ if ($claimed) }}
            
            {{ if (.Params.IsPleroma) }}
                <a href="https://{{ .Params.Instance }}/users/{{ .Params.Username }}" target="_blank">
            {{ else }}
                <a href="https://{{ .Params.Instance }}/@{{ .Params.Username }}" target="_blank">
            {{ end }}
                
                @{{ .Params.Username }}@{{ .Params.Instance }}
            </a>
            {{ else }}
            <a href="https://the.scream.zone/@jojo/101860735606068053?type=reply" target="_blank">
                {{ T "CLAIM" $ }}
            </a>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ partial "_footer" . }}